{{> navbar}}
<div class="container mt-3">
  <h1>
    {{#if id}}
      Actualizando el artículo "{{gameName}}" ({{id}})
    {{else}}
      Ingrese un nuevo artículo
    {{/if}}
  </h1>
  <!--
    Este formulario se usará tanto para edición como creación, este if nos dice que si viene un id, entonces será un update, si no, será un create.
    Para el action, si viene un id será un post a /articles/:id/update, si no, será un post a /articles/create.
  -->
  <form action="/game/{{#if id}}{{id}}/update{{else}}create{{/if}}" method="POST">
    <div class="mb-3">
      <label for="gameName" class="form-label">Nombre del Juego</label>
      <input type="text" class="form-control" name="gameName" aria-describedby="gameNameHelp" required="true" value="{{gameName}}">
      <div id="gameNameHelp" class="form-text">Ingrese el nombre del Producto</div>
    </div>
    <div class="mb-3">
      <label for="platform" class="form-label">Plataforma</label>
      <input type="text" class="form-control" name="platform" aria-describedby="platformHelp" required="true" value="{{platform}}">
      <div id="platformHelp" class="form-text">Ingrese la plataforma Disponible</div>
    </div>
    <div class="mb-3">
      <label for="developer" class="form-label">Desarrollador</label>
      <input type="text" class="form-control" name="developer" aria-describedby="developerHelp" required="true" value="{{developer}}">
      <div id="developerHelp" class="form-text">Ingrese Desarrolladora</div>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Precio</label>
      <input type="number" class="form-control" name="price" aria-describedby="priceHelp" required="true" value="{{price}}">
      <div id="priceHelp" class="form-text">Ingrese valor del Producto</div>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>
</div>