{{> navbar}}
<div class="container mt-3">
  <header class="my-5">
    <h1>Bienvenido a mi Block de nota Virtuality</h1>
    <p>
      Para anotar trabajos pendientes laborales....
    </p>
    <a href="/about">el atalaya videojueguil</a>
  </header>
  <hr>
  <h3 class="mt-5 mb-3">Últimos artículos</h3>
  {{#each games}}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{this.gamesName}</h5>
        <p class="card-text">{{this.platform}}</p>
        <p class="card-text">{{this.developer}}</p>
        <p class="card-text">{{this.price}}</p>
        <a href="/game/{{this.id}}" class="btn btn-primary btn-sm">Leer más</a>
      </div>
    </div>
  {{/each}}
</div>