{{> navbar}}
<div class="container mt-3">
  <header class="my-5">
    <img
      class="img-thumbnail"
      src="/img/atalaya-logo.png"
      alt="logo"
      width="850"
    >
    <p>
      ¿Se puede vivir sin videojuegos?
    </p>
    <a href="/about">El reino de los juegos</a>
  </header>
  <hr>
  <h3 class="mt-2 mb-3">Últimos artículos</h3>
  {{#each games}}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{this.gameName}}</h5>
        <p class="card-text">Plataforma Disponible: {{this.platform}}</p>
        <p class="card-text">Desarrolladora: {{this.developer}}</p>
        <p class="card-text">Valor $ {{this.price}}</p>
        <a href="/game/{{this.id}}" class="btn btn-primary btn-sm">Leer más</a>
      </div>
    </div>
  {{/each}}
</div>